@import url('https://fonts.googleapis.com/css?family=Roboto|Questrial&display=swap');

* {
    font-family: -apple-system, 'Product Sans', 'Roboto';
    font-size: 15px;
}


h1 {
    font-family: -apple-system, 'Product Sans', 'Roboto';
    font-size: small;
}

body, html, input {
    font-family: -apple-system, 'Product Sans', 'Roboto';
    font-size: small;
}


/*-----    colors    -----*/
html {
  --color-green: #0F9D58;
  --color-green-light: #7BCFA9;
  --color-blue: #4285F4;
  --color-red: #DB4437;
  --color-yellow: #F4B400;
  --color-orange: #F57F17;
  --color-grey: #838383;
}	


/*----- above results -----*/

div#extabar {
    padding-top: 20px;
}

body.vasq #hdtbMenus.hdtb-td-o {
    top: 88px;
}

/*----- search results -----*/

h3 {
    font-size: 20px!important;
    font-weight: 500;
    margin-bottom: 0.6%;
    margin-top: 0.6%;
    padding: 0;
    color: black;
    opacity: 0.3;
}

.g {
    background: white;
    padding: 25px;
    border-bottom: 1px solid #efefef;
}    

.st {
    letter-spacing: -0.3px;
    font-family: 'Roboto'!important;
}

.RNNXgb {
    background: #fff;
    display: flex;
    border-radius: 0px;
    border-bottom: 1px solid #dfe1e5;
    box-shadow: none;
    height: 39px;
    width: 630px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;

}

/*--- people also ask ---*/

.xpdopen {
    zoom: 0.8;
}

.kno-ftr {
	visibility: hidden;
}

.cbphWd {
    border-top: 1px dotted #e5e5e5!important;
}

/*------- summary --------*/

#rhs .rhsvw.liYKde {
	zoom: 0.8;
}

/*----- ads -----*/

div#tads {
    background: #f7f7f7cc;
    border: 1px solid #ddd;
    color: white!important;
    border-radius: 6px;
    padding: 1.5em 0.5em 0.5em 1.5em!important;
  	display: none;
}

/*----- links -----*/

.iUh30 {
    font-size: 15px!important;
  	letter-spacing: -0.2px;

}


/* related links */
a:link, .w, #prs a:visited, #prs a:active, .q:active, .q:visited, .kl:active, .tbotu {
    color: var(--color-blue);
}

/* viisited */
.mblink:visited, a:visited {
    color: var(--color-yellow)!important;
}

/* site */
.a, cite, cite a:link, cite a:visited, .cite, .cite:link, #nygTcd>i, .bc a:link {
    color: var(--color-red)!important;
}


/* page */
.eipWBe {
    color: var(--color-blue)!important;
}

/* number */
a.fl:link, .fl a, .flt, a.flt, .gl a:link, a.mblink, .mblink b {
    color: var(--color-red)!important;
    /*font-size: larger;*/
}

/*button*/
.headline-cta-section a, a.h-c-button, a.get-google-editors{
    color: white!important;
}

/*-------  searchbar -------*/
#hdtb-msb .hdtb-mitem.hdtb-msel {
    border-bottom: 3px solid var(--color-blue)!important;
    color: var(--color-blue)!important;
}

/*----- mini searchbar -----*/

.minidiv .sfbg {
    background: #f8f8f8;
    box-shadow: none;
    height: 90px;
    border-bottom: 1px solid #eee;
}
