@import url('https://fonts.googleapis.com/css?family=Roboto|DM+Sans|Manrope&display=swap');

/*-----    NOTE: If you have Product Sans installed uncomment it -----*/

/*-----    colors / fonts   -----*/
html {
  --color-green: #0F9D58;
  --color-blue: #4285F4;
  --color-red: #DB4437;
  --color-yellow: #F4B400;
  --color-orange: #F57F17;
  --color-grey: #838383;
  --color-lightgrey: #cccccc;
  --font-alt: 'Roboto';
  --font-main: 'DM Sans';
  /*--font-alt: 'DM Sans'; */
  /*--font-main: 'Manrope'; */
  /*--font-alt: 'Manrope';  */
  /*--font-main: 'Product Sans'; */
}


/*----- global -----*/

* {
  font-family: -apple-system, var(--font-main), var(--font-alt);
  font-size: 15px;
}


h1 {
  font-family: -apple-system, var(--font-main), var(--font-alt);
  font-size: small;
}

body,
html,
input {
  font-family: -apple-system, var(--font-main), var(--font-alt);
  font-size: small;
}


/*----- above results -----*/

div#extabar {
  padding-top: 20px;
}

body.vasq #hdtbMenus.hdtb-td-o {
  top: 88px;
}

/*----- search results -----*/

h3 {
  font-size: 20px !important;
  font-weight: 500;
  margin-bottom: 0.6%;
  margin-top: 0.6%;
  padding: 0;
  letter-spacing: -0.3px !important;
}

.g {
  background: white;
  padding: 25px;
  border-bottom: 1px solid #efefef;
}

.st {
  letter-spacing: -0.3px;
  font-family: var(--font-alt) !important;
  color: var(--color-grey);
}

/*--- keywords ---*/

.s .st em,
.st.s.std em {
  color: black;
  text-decoration: underline;
}

.RNNXgb {
  background: #fff;
  display: flex;
  box-shadow: none;
  height: 39px;
  width: 630px;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
}


/*--- people also ask ---*/

.xpdopen {
  transform: scale(0.8);
}

.kno-ftr {
  visibility: hidden;
}

.cbphWd {
  border-top: 1px dotted #e5e5e5 !important;
}

/*------- summary --------*/

#rhs .rhsvw.liYKde {
  zoom: 0.8;
}

/*----- ads -----*/

div#tads {
  background: #f7f7f7cc;
  border: 1px solid #ddd;
  color: white !important;
  border-radius: 6px;
  padding: 1.5em 0.5em 0.5em 1.5em !important;
  display: none;
}

/*----- links -----*/

.iUh30 {
  font-size: 15px !important;
  letter-spacing: -0.2px;

}

/*--date--*/

span.f {
  color: var(--color-red) !important;
}

/* related links */

a:link,
.w,
#prs a:active,
.q:active,
.kl:active,
.tbotu {
  color: var(--color-blue);
}

/* site */

.a,
cite,
cite a:link,
.cite,
.cite:link,
#nygTcd>i,
.bc a:link {
  color: var(--color-yellow) !important;
}


/* page */

.eipWBe {
  color: var(--color-red) !important;
}

/* subs pages */

a.fl:link,
.fl a,
.flt,
a.flt,
.gl a:link,
a.mblink,
.mblink b {
  color: var(--color-yellow) !important;
  /*font-size: larger;*/
}

/* button */

.headline-cta-section a,
a.h-c-button,
a.get-google-editors {
  color: white !important;
}

/* visited */

.mblink:visited,
a:visited,
.q:visited,
#prs a:visited,
cite a:visited {
  color: var(--color-lightgrey) !important;
}


/*-------  searchbar -------*/

#hdtb-msb .hdtb-mitem.hdtb-msel {
  /*border-bottom: 3px solid var(--color-blue) !important;*/
  color: var(--color-blue) !important;
}

input {
  font-family: var(--font-main) !important;
  font-size: 13px !important;
}


/*----- mini searchbar -----*/

/* white fade */
.minidiv .sfbg {
  height: 60px!important;
  box-shadow: 0px 0px 60px 60px white!important;
}

.minidiv #logo img {
  transform: scale(0.7);
}
